<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Название хакатона</title>
</head>

<body>
    <h2>Название хакатона</h2>
    <table>
    <!--<caption>Название таблицы</caption> -->
    <thead>
        <tr>
            <th>Название хакатона</th>
            <th>Место проведения</th>
            <th>Время проведения</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Хакатон1</td>
            <td>Место</td>
            <td>Время</td>
        </tr>
        <tr>
            <td>Хакатон2</td>
            <td>Место</td>
            <td>Время</td>
        </tr>
        <tr>
            <td>Хакатон3</td>
            <td>Место</td>
            <td>Время</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <button>Добавить</button>
            <button>Удалить</button>
            <button>Редактировать</button>
        </tr>
    </tfoot>
</table>
</body>
</html>