<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="login" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>

<main>
    <form>
        <div>
            <label for="surname">Фамилия*:</label>
            <input type="text" id="surname" name="surname" required>
        </div>

        <div>
            <label for="name">Имя*:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div>
            <label for="patronymic">Отчество (при наличии):</label>
            <input type="text" id="patronymic" name="patronymic">
        </div>

        <div>
            <label for="email">Почта*:</label>
            <input type="text" id="email" name="email" required>
        </div>

        <div>
            <label for="phone">Номер телефона*:</label>
            <input type="text" id="phone" name="phone" required>
        </div>

        <div>
            <label for="password">Придумайте пароль*:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <input type="submit" value="Создать">
    </form>

    <nav>
        Есть аккаунт?
        <a href="login.html">Войти в аккаунт</a>
    </nav>
</main>

</body>
</html>