<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="login" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>

<main>
    <form>
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login" required>
        </div>

        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
    </form>

    <nav>
        Есть аккаунт?
        <a href="login.html">Войти в аккаунт</a>
    </nav>
</main>

</body>
</html>